/* Bismillohir Rahmonir Rahiym */

@import "modules.css";

/* ------------------------
      SITE-HEADER
------------------------ */

.site-header {
  position: relative;
  z-index: 100;
  padding: 18px 0;
  background-color: var(--color-white);
}

.site-header__inner {
  display: flex;
  align-items: center;
}

/* LOGO */

.logo {
  margin-right: auto;
}

.logo__img {
  display: block;
}

/* SITENAV */

.sitenav {
  margin-right: 226px;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  position: relative;
  z-index: 1;
  display: block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.1px;
  text-decoration: none;
  color: var(--color-text-secondary);
  transition: color 0.3s ease;
}

.sitenav__link:hover {
  color: var(--color-text-primary);
}

.sitenav__link::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 4px;
  background-image: var(--gradient-primary);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.sitenav__link:hover::after {
  opacity: 1;
}

/* ---------------------------
            HERO 
------------------------------*/

.hero {
  position: relative;
  z-index: 10;
  padding: 170px 0;
  background-image: url("../img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 605px) -256px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HERO-TEXT */

.hero__text {
  max-width: 447px;
}

.hero__heading {
  margin-bottom: 24px;
  max-width: 394px;
  font-size: 56px;
  letter-spacing: -1px;
}

.hero__paragraph {
  margin-bottom: 36px;
}

/* HERO-IMG */

.hero-img {
  position: absolute;
  top: 50%;
  left: calc(50% + 467px);
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* ------------------------
        FEATURES
--------------------------- */

.features {
  padding: 95px 0;
  background-color: #f4f5f7;
}

/* FEATURES__TEXT */

.features__text {
  margin-bottom: 72px;
  max-width: 635px;
}

.features__heading {
  margin-bottom: 16px;
}

/* FEATURES__LIST */

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

/* FEATURE */

.feature {
  width: 255px;
}

.feature__title {
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.feature__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

.feature::before {
  content: "";
  display: block;
  margin-bottom: 40px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 40px, 100%;
  background-position: center center;
}

.feature--banking::before {
  background-image: url("../img/icon-banking.svg"), var(--gradient-primary);
}

.feature--budgeting::before {
  background-image: url("../img/icon-budget.svg"), var(--gradient-primary);
  background-size: 33px, 100%;
  background-position: 24px, center;
}

.feature--onboarding::before {
  background-image: url("../img/icon-onboard.svg"), var(--gradient-primary);
}

.feature--open-api::before {
  background-image: url("../img/icon-open-api.svg"), var(--gradient-primary);
}

/* ---------------------
        ARTICLES  
------------------------ */

.articles {
  padding: 80px 0;
}

/* ARTICLES__TEXT */

.articles__text {
  margin-bottom: 40px;
}

/* ARTICLES__LIST */

.articles__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.articles__item:not(:last-child) {
  margin-right: 30px;
}

/* ARTICLE */

.article {
  width: 255px;
  border-radius: 5px;
  background-color: var(--color-white);
}

.article__content {
  padding: 24px;
}

.article__author {
  margin: 0;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15px;
}

.article__link {
  display: block;
  text-decoration: none;
  color: var(--color-text-primary);
  transition: color 0.3s ease;
}

.article__link:hover {
  color: #30c88f;
}

.article__title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: inherit;
}

.article__text {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.2px;
}

/* SITE-FOOTER */

.site-footer {
  padding: 48px 0;
  background-color: var(--color-text-primary);
}

.site-footer__inner {
  display: flex;
  align-items: center;
}

/* FOOTER__SIDE-LEFT */

.footer__side-left {
  margin-right: 130px;
}

/* SITE-FOOTER__LOGO */
.site-footer__logo {
  display: block;
  margin-bottom: 55px;
}

/* SOCIAL */

.social {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 13px;
}

.social__link {
  display: flex;
  color: var(--color-white);
  transition: color 0.3s ease;
}

.social__link:hover {
  color: var(--color-green);
}

/* SITE-FOOTER__NAV */

.site-footer__nav {
  margin-right: 255px;
}

/* FOOTER-NAV */

.footer-nav {
  display: flex;
}

.footer-nav__column {
  width: 160px;
}

.footer-nav__column:not(:last-child) {
  margin-right: 30px;
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-nav__link {
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  text-decoration: none;
  color: var(--color-white);
  transition: color 0.3s ease;
}

.footer-nav__link:hover {
  color: var(--color-green);
}

/* SITE-SUMMARY */

.site-footer__btn {
  margin-bottom: 24px;
  margin-left: 55px;
}

.site-copyright {
  margin: 0;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  color: var(--color-white);
  opacity: 0.5;
}
