@import "modules.css";

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Spartan", "Arial", sans-serif;
  background-color: var(--color-bg-content);
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #7c8f8f;
}

.site-header {
  height: 156px;
  background-image: url("../img/header-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jobs {
  padding: 75px 0;
}

.jobs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.jobs-item {
  margin-bottom: 24px;
  padding: 32px 40px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-jobs);
  border-radius: 5px;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}

.jobs-item:last-child {
  margin-bottom: 0;
}

.jobs-item-featured {
  border-left: 5px solid var(--color-featured);
}

.jobs-logo {
  margin-right: 24px;
}

.jobs-info {
  margin-right: auto;
}

.jobs-info-col {
  display: flex;
  align-items: center;
}

.jobs-info-col-primary {
  margin-bottom: 8px;
}

.jobs-info-company {
  margin-right: 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  color: #5ca5a5;
}

.jobs-info-extra {
  margin-right: 8px;
  padding: 0 8px;
  padding-top: 6px;
  padding-bottom: 4px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  color: var(--color-text-extra);
  text-transform: uppercase;
}

.jobs-info-extra:last-child {
  margin-right: 0;
}

.jobs-info-extra-new {
  background-color: var(--color-featured);
}

.jobs-info-extra-featured {
  background-color: var(--color-text-title);
}

.jobs-info-title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: normal;
  text-transform: capitalize;
  color: var(--color-text-title);
  transition: color 0.4s ease;
}

.jobs-info-title:hover {
  color: var(--color-featured);
}

.jobs-info-title-link {
  text-decoration: none;
}

.jobs-info-span {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.jobs-info-span::after {
  content: "";
  margin-left: 16px;
  width: 4px;
  height: 4px;
  background-color: var(--color-info-dots);
  border-radius: 50%;
}

.jobs-info-span:last-child {
  margin-right: 0;
}

.jobs-info-span:last-child::after {
  display: none;
}

.jobs-tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

.jobs-tags-item {
  margin-right: 16px;
}

.jobs-tag {
  padding: 4px 8px;
  background-color: var(--color-featured-transparent);
  color: var(--color-featured);
  font-weight: bold;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.5s ease, color 0.5s ease;
  outline: none;
  cursor: pointer;
}

.jobs-tag:hover {
  background-color: var(--color-featured);
  color: var(--color-text-extra);
}
