:root {
  --color-text-primary: #7c8f8f;
  --color-text-title: #2b3939;
  --color-info-dots: #b7c4c4;
  --color-text-extra: #fff;
  --color-featured: #5ca5a5;
  --color-featured-transparent: rgba(92, 165, 165, 0.1);
  --color-bg-jobs: #fff;
  --color-bg-content: #f2f2f2;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Bold.woff2") format("woff2"),
    url("../fonts/Spartan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-Medium.woff2") format("woff2"),
    url("../fonts/Spartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

