@import "modules.css";

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: rgba(36, 42, 69, 0.5);
  background-color: #f2f2f2;
}

.site-content {
  flex: 1 0 auto;
}

.site-footer {
  flex-shrink: 0;
}

/* SITE-HEADER */

.site-header {
  margin-bottom: 67px;
  padding: 48px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.logo-img {
  display: block;
}

.sitenav {
  margin-right: 48px;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 48px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: var(--color-black);
  transition: color .3s ease;
}

.sitenav__link:hover {
  color: var(--color-red);
}

/* HERO */

.hero {
  margin-bottom: 150px;
  padding-top: 70px;
  padding-bottom: 124px;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + 620px) center;
}

.hero__text-wrapper {
  max-width: 540px;
}

.hero__heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
}

/* EXTENSIONS */

.extensions {
  margin-bottom: 150px;
}

.extensions__intro-text {
  margin-bottom: 48px;
}

.extensions__list {
  margin: 0;
  margin-right: -35px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
}

.extensions__item {
  margin-right: 35px;
  width: 280px;
}

.extensions__item:nth-child(3n + 2) {
  margin-top: 40px;
}

.extensions__item:nth-child(3n + 3) {
  margin-top: 80px;
}

.extension {
  background-color: #fff;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
  border-radius: 15px;
  text-align: center;
}

.extension__top {
  margin-bottom: 32px;
  padding: 0 24px;
  padding-top: 48px;
}

.extension__logo {
  display: inline-block;
  margin-bottom: 32px;
}

.extension__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: var(--color-black);
}

.extension__version {
  margin: 0;
  font-size: 15px;
}

.extension__actions {
  position: relative;
  z-index: 1;
  padding: 24px;
}

.extension__actions::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 1;
  margin-bottom: 24px;
  display: block;
  width: 100%;
  height: 4px;
  background-image: url("../img/divider.svg");
  background-size: 123%;
  background-repeat: repeat-x;
}

/* 2X BACKGROUND IMAGES */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url('../img/hero-bg@2x.png');
    }  
}
