@import "modules.css";

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: rgba(36, 42, 69, 0.5);
  background-color: #f2f2f2;
}

.site-content {
  flex: 1 0 auto;
}

.site-footer {
  flex-shrink: 0;
}

/* SITE-HEADER */

.site-header {
  margin-bottom: 67px;
  padding: 48px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.logo-img {
  display: block;
}

.sitenav {
  margin-right: 48px;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 48px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  color: var(--color-black);
  transition: color 0.3s ease;
}

.sitenav__link:hover {
  color: var(--color-red);
}

/* HERO */

.hero {
  margin-bottom: 80px;
  padding-top: 70px;
  padding-bottom: 124px;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + 620px) center;
}

.hero__text-wrapper {
  max-width: 540px;
}

.hero__heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
}

/* FEATURES */

/* .features {
  background-image: url('../img/features-bg.svg');
  background-repeat: no-repeat;
  background-size: 720px 435px;
  background-position: left bottom;
} */

.features {
  background-image: url("../img/features-rect.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 580px) bottom;
  margin-bottom: 150px;
  padding-bottom: 90px;
}

.features__intro-text {
  margin-bottom: 72px;
}

.features__list {
  margin: 0;
  margin: 0 auto;
  margin-bottom: 72px;
  padding: 0;
  display: flex;
  width: 730px;
  list-style: none;
  border-bottom: 1px solid rgba(73, 93, 207, 0.2);
}

.features__item {
  width: 243px;
  flex-grow: 1;
}

.tab {
  border-bottom: 4px solid transparent;
  transition: border-color 0.3s ease;
}

.tab--active {
  border-color: var(--color-red);
}

.tab__control {
  padding: 0;
  padding-bottom: 27px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: rgba(36, 42, 69, 0.75);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tab--active .tab__control {
  color: var(--color-black);
}

.tab:not(.tab--active):hover .tab__control {
  color: var(--color-red);
}

.features__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__text-wrapper {
  max-width: 445px;
}

/* EXTENSIONS */

.extensions {
  margin-bottom: 150px;
}

.extensions__intro-text {
  margin-bottom: 48px;
}

.extensions__list {
  margin: 0;
  margin-right: -35px;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
}

.extensions__item {
  margin-right: 35px;
  width: 280px;
}

.extensions__item:nth-child(3n + 2) {
  margin-top: 40px;
}

.extensions__item:nth-child(3n + 3) {
  margin-top: 80px;
}

.extension {
  background-color: #fff;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
  border-radius: 15px;
  text-align: center;
}

.extension__top {
  margin-bottom: 32px;
  padding: 0 24px;
  padding-top: 48px;
}

.extension__logo {
  display: inline-block;
  margin-bottom: 32px;
}

.extension__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: var(--color-black);
}

.extension__version {
  margin: 0;
  font-size: 15px;
}

.extension__actions {
  position: relative;
  z-index: 1;
  padding: 24px;
}

.extension__actions::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 1;
  margin-bottom: 24px;
  display: block;
  width: 100%;
  height: 4px;
  background-image: url("../img/divider.svg");
  background-size: 123%;
  background-repeat: repeat-x;
}

/* FAQ */

.faq {
  margin-bottom: 150px;
}

.faq__intro-text {
  margin-bottom: 56px;
}

.faq__list {
  margin: 0 auto;
  margin-bottom: 54px;
  padding: 0;
  width: 540px;
  list-style: none;
}

.accordion {
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}

.accordion__item {
  border-top: 1px solid rgba(36, 42, 69, 0.15);
}

.accordion__top {
  position: relative;
  z-index: 1;
  padding-top: 19px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
}

.accordion__question {
  margin: 0;
  margin-right: auto;
  font-weight: 400;
  line-height: 32px;
  color: #242a45;
  transition: color 0.3s ease;
}

.accordion__item:not(.accordion__item--active) .accordion__top:hover .accordion__question {
  color: var(--color-red);
}

.accordion__control {
  width: 16px;
  height: 8px;
  border: none;
  background-color: transparent;
  background-image: url("../img/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.accordion__control::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}

.accordion__answer {
  display: none;
  padding-top: 19px;
  padding-bottom: 29px;
}

.accordion__item--active .accordion__control {
  background-image: url("../img/up-arrow.svg");
}

.accordion__item--active .accordion__answer {
  display: block;
}

.faq__footer {
  text-align: center;
}

/* CONTACTS */

.contacts {
  padding-top: 58px;
  padding-bottom: 74px;
  color: #fff;
  background-color: var(--color-blue);
}

.contacts__header {
  margin: 0 auto;
  margin-bottom: 36px;
  max-width: 408px;
  text-align: center;
}

.contacts__joined {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.contacts__heading {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.1px;
}

.contacts__form {
  margin: 0 auto;
  max-width: 442px;
}

.form {
  display: flex;
  align-items: flex-start;
}

.form__input-wrapper {
  flex-grow: 1;
  margin-right: 16px;
}

.form__input-field {
  display: block;
  width: 100%;
  padding: 10px 18px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: var(--color-black);
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  background-image: url(../img/icon-error-disc.svg);
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 0;
}

.form__input-field::placeholder {
  opacity: 0.5;
}

.form__input-field:not(:placeholder-shown):not(:focus):invalid {
  background-size: 20px;
}

.form__input-wrapper {
  position: relative;
  z-index: 1;
  padding: 2px;
}

.form__error-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  width: 100%;
  min-height: 70px;
  background-color: var(--color-red);
  border-radius: 5px;
}

.form__error {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 12px 6px;
  font-style: italic;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.25px;
}

.form__input-field:not(:placeholder-shown):not(:focus):invalid ~ .form__error-wrapper {
  display: block;
}

/* FOOTER */

.site-footer {
  padding: 32px 0;
  background-color: var(--color-black);
}

.site-footer__inner {
  display: flex;
  align-items: center;
}

.logo--white {
  margin-right: 63px;
}

.sitenav--white {
  margin-right: auto;
  --color-black: #fff;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

.social__link {
  display: flex;
  color: #fff;
  transition: color 0.3s ease;
}

.social__link:hover {
  color: var(--color-red);
}

/* 2X BACKGROUND IMAGES */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/hero-bg@2x.png");
  }
}
