*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.form {
  padding: 40px 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-basic,
.form-content,
.form-check {
  margin-bottom: 20px;
  padding: 15px;
  background: rgba(241, 241, 241, 0.3);
  border: 2px solid rgba(40, 81, 147, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}

.form-basic::placeholder,
.form-content::placeholder,
.form-check::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #888;
}

.form-btn {
  padding: 15px 60px;
  background: #295093;
  border: 2px solid rgba(40, 81, 147, 0.54);
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.form-basic {
  width: 600px;
}

.form-content {
  width: 600px;
}

.form-check {
  width: 220px;
}
