/* INTRO */

.intro {
  padding: 72px 0;
}

.intro__text {
  margin: 0 auto;
  max-width: 800px;
}

/* SERVICES */

.services {
  padding: 80px 0;
  background-color: #f4f4f4;
}

.service {
  margin-bottom: 50px;
  padding: 32px;
  display: flex;
}

.service::before {
 content: '';
 margin-right: 40px;
 width: 200px;
 height: 100%;
 background-repeat: no-repeat;
 background-position: left top;
}

.service--web::before {
  background-image: url('../img/website-illustration.png');
}

.service--bot::before {
  background-image: url('../img/bot-illustration.png');
}

.service--smm::before {
  background-image: url('../img/smm-illustration.png');
}

.service--design::before {
  background-image: url('../img/design-illustration.png');
}

.service--crm::before {
  background-image: url('../img/crm-illustration.png');
}

.service__text {
  max-width: 500px;
}

.paragraph {
  text-align: left;
}

.service__list {
  margin: 16px 0;
  padding: 0;
  list-style: none;
}

.service__item {
  display: flex;
  align-items: center;
}

.service__item::before {
  content: '';
  margin-right: 8px;
  width: 12px;
  height: 12px;
  background-color: var(--color-blue);
  border-radius: 50%;
}

.service__buttons .btn {
  margin-right: 16px;
}