:root {
  --color-blue: #00BAFC;
  --color-white: #fff;
  --color-text-primary: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 30px;
}

.heading-primary {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

.heading-secondary {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  font-weight: bold;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  transition: background-color .3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 186, 252, 0.8);
}

.btn:active {
  background-color: rgba(0, 186, 252, 0.6);
}

.paragraph {
  margin: 0;
  text-align: center;
}