@import "modules.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.page-header {
  padding: 40px 0;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
}

.logo img {
  display: block;
}

.main-nav {
  margin-left: auto;
}

.main-nav-list {
  display: flex;
  list-style: none;
}

.main-nav-item {
  margin-right: 70px;
}

.main-nav-link {
  color: #373737;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.page-header .btn {
  background: transparent;
}

.hero {
  padding-top: 100px;
  padding-bottom: 60px;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.hero-text {
  margin-top: 24px;
}

.hero-text span {
  color: #717cff;
}

.hero-text .paragraph-primary {
  margin: 0;
  margin-bottom: 42px;
  text-align: left;
}

.hero-text .btn {
  margin-bottom: 106px;
}

.sponsors {
  padding: 55px 0;
  background-color: #fafafa;
}

.sponsors-heading {
  color: rgba(55, 55, 55, 0.7);
  font-size: 23px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.1px;
  margin-bottom: 94px;
}

.sponsors-slider {
  list-style: none;
  display: flex;
  justify-content: center;
}

.sponsors-item {
  margin-right: 74px;
}

.sponsors-item:last-child {
  margin: 0;
}

.services {
  padding: 125px 0 69px;
}

.services-list {
  margin-right: -50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-item {
  margin-right: 50px;
  margin-bottom: 56px;
  padding: 30px;
  width: 350px;
  background-color: #fff;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}

.services-item img {
  margin-bottom: 30px;
}

.blog {
  padding: 102px 0 124px;
  background-color: #fafafa;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 146px;
  list-style: none;
}

.blog-post {
  padding: 25px;
  width: min-content;
  border-radius: 10px;
}

.blog-poster {
  margin-bottom: 28px;
}

.blog-date {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 900;
  color: #565656;
}

.blog-date img {
  margin-right: 15px;
}

.blog-link {
  display: block;
  color: #000;
  text-decoration: none;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.events {
  padding: 98px 0 108px;
}

.events-slider {
  margin-right: -50px;
  list-style: none;
  display: flex;
}

.events-item {
  margin-right: 50px;
  padding: 30px;
  width: 540px;
  background: #ffffff;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}

.events-item .heading-tertiary {
  margin-bottom: 30px;
}

.events-item .paragraph-secondary {
  width: 430px;
}

.events-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events-date {
  font-weight: 900;
  letter-spacing: 0.44px;
}

.countries {
  padding: 82px 0 136px;
  background-color: #fafafa;
}

.countries-slider {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.countries-item {
  width: min-content;
}

.countries-item img {
  margin-bottom: 27px;
}

.testimonials {
  padding: 115px 98px;
}

.testimonials-slider {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.testimonials-item {
  padding: 35px;
}

.testimonials-item .paragraph-secondary {
  width: 430px;
}

.testimonials-person {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.testimonials-person img {
  margin-right: 28px;
}

.testimonials-bio b {
  display: block;
  margin-bottom: 4px;
}

.testimonials-bio span {
  display: block;
  color: #37474faf;
}

.main-footer {
  padding: 82px 0 74px;
  background-color: #fafafa;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer .heading-secondary {
  margin-right: auto;
}

.page-footer {
  padding: 64px 0 45px;
  background: #717cff;
}

.page-footer-container {
  display: flex;
}

.page-footer-about {
  margin-right: 130px;
  max-width: 343px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #eee;
}

.page-footer .logo {
  margin-bottom: 26px;
}

.page-address {
  margin-bottom: 58px;
}

.footer-nav {
  margin-top: 6px;
  margin-right: 150px;
  display: flex;
}

.footer-nav-row {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 49px;
  color: #eee;
}

.footer-nav-row:first-child {
  margin-right: 106px;
}

.page-footer .social {
  margin-top: 171px;
}
