@import "modules.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.page-header {
  display: flex;
  align-items: center;
}

.main-nav {
  margin-left: auto;
}

.main-nav-list {
  display: flex;
  list-style: none;
}

.main-nav-item {
  margin-right: 70px;
}

.main-nav-link {
  color: #373737;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.page-header .btn {
  background: transparent;
  color: #505050;
  border: 2px solid #717cff;
  font-size: 17px;
}

.hero-text span {
  color: #717cff;
}

.hero-text .paragraph-primary {
  margin: 0;
  margin-bottom: 42px;
  text-align: left;
}

.hero-text .btn {
  margin-bottom: 106px;
}

.social-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.social-item {
  margin-right: 30px;
}

.sponsors {
  background: #fafafa;
}

.sponsors-heading {
  color: rgba(55, 55, 55, 0.7);
  font-size: 23px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.1px;
  margin-bottom: 94px;
}

.sponsors-slider {
  list-style: none;
  display: flex;
  justify-content: center;
}

.sponsors-item {
  margin-right: 74px;
}

.sponsors-item:last-child {
  margin: 0;
}

.services-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  padding: 30px;
  width: 350px;
}

.services-item img {
  margin-bottom: 30px;
}

.blog {
  display: flex;
  flex-direction: column;
}

.blog-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 146px;
  list-style: none;
}

.blog-post {
  padding: 25px;
  width: min-content;
  border-radius: 10px;
  background: #fafafa;
}

.blog-poster {
  margin-bottom: 28px;
}

.blog-date {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 900;
  color: #565656;
}

.blog-date img {
  margin-right: 15px;
}

.blog-link {
  display: block;
  color: #000;
  text-decoration: none;
}

.blog .btn {
  align-self: center;
}

.events-slider {
  list-style: none;
  display: flex;
}

.events-item {
  margin-right: 50px;
  padding: 30px;
  border-radius: 10px;
}

.events-item:last-child {
  margin: 0;
}

.events-item .heading-tertiary {
  margin-bottom: 30px;
}

.events-item .paragraph-secondary {
  width: 430px;
}

.events-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events-date {
  font-weight: 900;
  letter-spacing: 0.44px;
}

.countries-slider {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.countries-item {
  width: min-content;
}

.countries-item img {
  margin-bottom: 27px;
}

.testimonials-slider {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.testimonials-item {
  padding: 35px;
}

.testimonials-item .paragraph-secondary {
  width: 430px;
}

.testimonials-person {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.testimonials-person img {
  margin-right: 28px;
}

.testimonials-bio b {
  display: block;
  margin-bottom: 4px;
}

.testimonials-bio span {
  display: block;
  color: #37474faf;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer .heading-secondary {
  margin: 0;
}
