@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 30px;
}

.heading-primary {
  margin: 0;
  margin-bottom: 25px;
  font-size: 56px;
  font-weight: 900;
}

.heading-secondary {
  text-align: center;
  margin-bottom: 25px;
  font-size: 37px;
  font-weight: 700;
  letter-spacing: -0.46px;
}

.heading-tertiary {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.paragraph-primary {
  margin: auto;
  width: 1000px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #7d7d7d;
  line-height: 38px;
}

.paragraph-secondary {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #7d7d7d;
  line-height: 28px;
}

.social-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.social-item {
  margin-right: 30px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  background: #717cff;
  border-radius: 11px;
  padding: 12px 34px;
}

.btn-bordered {
  color: #000;
  font-weight: 500;
  font-size: 17px;
  border: 2px solid #717cff;
  border-radius: 11px;
  padding: 9px 20px;
}

.btn-arrow {
  display: flex;
  width: max-content;
}
.btn-arrow img {
  margin-left: 34px;
}

.btn-transparent {
  padding: 12px 0;
  color: #717cff;
  background: transparent;
}

.slider-control {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-control-btn {
  margin-right: 20px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background: rgba(124, 124, 124, 0.3);
}

.slider-control-btn-active {
  width: 14px;
  height: 14px;
  background: #717cff;
}
