@import "modules.css";

/* SITE-HEADER */

.site-header {
  position: relative;
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 40px;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  display: block;
}

.sitenav {
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  height: calc(100vh - 90px);
  transform: translateY(calc(-100% - 90px));
  text-align: center;
  background: linear-gradient(to top, rgba(254, 252, 247, 0.5), #fefcf7 56%);
  transition: transform 0.5s ease;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  display: inline-block;
  font-family: "Fraunces 9pt", "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  color: var(--color-text-secondary);
}

.sitenav--open {
  transform: translateY(0);
}

.sitenav--open + .menu {
  background-image: url("../images/icon-close.svg");
}

.menu {
  width: 16px;
  height: 16px;
  padding: 0;
  background: url("../images/icon-menu.svg") no-repeat center / contain;
  border: none;
  cursor: pointer;
}

/* HERO */

.hero {
  margin-bottom: 120px;
  padding: 100px 24px;
  background: url("../images/bg-hero-mobile.jpg") no-repeat center / cover;
  border-radius: 10px;
}

.hero__text {
  text-align: center;
}

.hero__heading {
  margin-bottom: 24px;
}

.hero__paragraph {
  margin-top: 0;
  margin-bottom: 40px;
  color: rgba(254, 252, 247, 0.8);
}
