@import "modules.css";

/* SITE-HEADER */

.site-header {
  position: relative;
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 40px;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  display: block;
}

.sitenav {
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  height: calc(100vh - 90px);
  transform: translateY(calc(-100% - 90px));
  text-align: center;
  background: linear-gradient(to top, rgba(254, 252, 247, 0.5), #fefcf7 56%);
  transition: transform 0.5s ease;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  display: inline-block;
  font-family: "Fraunces 9pt", "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  color: var(--color-text-secondary);
}

.sitenav--open {
  transform: translateY(0);
}

.sitenav--open + .menu {
  background-image: url("../images/icon-close.svg");
}

.menu {
  width: 16px;
  height: 16px;
  padding: 0;
  background: url("../images/icon-menu.svg") no-repeat center / contain;
  border: none;
  cursor: pointer;
}

/* HERO */

.hero {
  margin-bottom: 205px;
  padding: 100px 24px;
  background: url("../images/bg-hero-mobile.jpg") no-repeat center / cover;
  border-radius: 10px;
}

.hero__text {
  text-align: center;
}

.hero__heading {
  margin-bottom: 24px;
}

.hero__paragraph {
  margin-top: 0;
  margin-bottom: 40px;
  color: rgba(254, 252, 247, 0.8);
}

/* PRODUCTS */

.products {
  position: relative;
  z-index: 1;
  margin-bottom: 120px;
  text-align: center;
}

.products__heading {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translateY(calc(-100% - 13px));
  width: 100%;
  font-size: 40px;
  line-height: 72px;
  text-align: center;
  color: #83888f;
  opacity: 0.5;
}

.products__heading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  background: linear-gradient(to bottom, transparent, #fefcf7);
}

.products__list {
  margin: 0;
  padding: 0 22px;
  list-style: none;
}

.products__item:not(:last-child) {
  margin-bottom: 48px;
}

.product__photo {
  display: inline-block;
  margin-bottom: 24px;
  object-fit: cover;
}

.product__heading {
  margin-bottom: 16px;
  color: inherit;
}

.product__info {
  margin: 0;
}

/* FEATURES */

.features {
  position: relative;
  z-index: 1;
  margin-bottom: 717px;
  padding: 64px 24px 660px;
  text-align: center;
  color: var(--color-text-primary);
  background-color: #2c343e;
  border-radius: 10px;
}

.features__heading {
  margin-bottom: 24px;
}

.features__paragraph {
  margin: 0;
  opacity: 0.8;
}

.features__list {
  position: absolute;
  top: 305px;
  left: 0;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  list-style: none;
}

.features__item:not(:last-child) {
  margin-bottom: 24px;
}

.feature {
  padding: 72px 33.5px 48px;
  background-color: #0e8784;
  border-radius: 8px;
}

.feature::before {
  content: "";
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  display: inline-block;
  margin-bottom: 56px;
  background: no-repeat center bottom / contain;
}

.feature--benefits::before {
  background-image: url("../images/icon-coffee-bean.svg");
}

.feature--quality::before {
  background-image: url("../images/icon-gift.svg");
}

.feature--shipping::before {
  background-image: url("../images/icon-truck.svg");
}

.feature__heading {
  margin-bottom: 24px;
}

.feature__info {
  margin: 0;
}

/* STEPS */

.steps {
  margin-bottom: 120px;
  text-align: center;
}

.steps__heading {
  margin-bottom: 80px;
  color: #83888f;
}

.steps__list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
  counter-reset: step;
}

.steps__item {
  counter-increment: step;
}

.steps__item:not(:last-child) {
  margin-bottom: 56px;
}

.step::before {
  content: "0" counter(step);
  display: inline-block;
  margin-bottom: 24px;
  font-family: 'Fraunces 9pt', 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.step__heading {
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 32px;
  color: var(--color-text-secondary);
}

.step__info {
  margin: 0;
}