/* TABLET */

@media screen and (min-width: 481px) {
  .container {
    padding: 0 40px;
  }

  .heading--primary {
    font-size: 48px;
    line-height: 48px;
  }

  /* SITE-HEADER */

  .site-header {
    padding-top: 40px;
    padding-bottom: 53px;
  }

  .logo__img {
    width: 236px;
    height: 26px;
  }

  .sitenav {
    position: initial;
    width: auto;
    height: auto;
    transform: initial;
    text-align: left;
    background: transparent;
    transition: initial;
  }

  .sitenav__list {
    display: flex;
    align-items: center;
  }

  .sitenav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .sitenav__link {
    display: block;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #83888f;
  }

  .menu {
    display: none;
  }

  /* HERO */

  .hero {
    margin-bottom: 144px;
    padding: 104px 56px;
    background-image: url("../images/bg-hero-tablet.jpg");
  }

  .hero__text {
    max-width: 398px;
    text-align: left;
  }

  .hero__heading {
    max-width: 329px;
  }

  /* PRODUCTS */

  .products {
    margin-bottom: 144px;
    text-align: left;
  }

  .products__heading {
    transform: translateY(-38px);
    font-size: 96px;
  }

  .products__list {
    padding: 0 58px;
  }

  .products__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .product {
    display: flex;
    align-items: center;
  }

  .product__photo {
    width: 255px;
    height: 193px;
    margin-right: 36px;
    margin-bottom: 0;
  }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 26px;
  }

  .container {
    padding: 0 80px;
  }

  .heading--primary {
    font-size: 72px;
    line-height: 72px;
  }

  /* SITE-HEADER */

  .site-header {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .sitenav__link {
    transition: color 0.3s ease;
  }

  .sitenav__link:hover {
    color: var(--color-text-secondary);
  }

  /* HERO */

  .hero {
    margin-bottom: 136px;
    padding: 115px 85px;
    background-image: url("../images/bg-hero.jpg");
  }

  .hero__text {
    max-width: 493px;
  }

  .hero__heading {
    margin-bottom: 32px;
    max-width: 100%;
  }

  .hero__paragraph {
    margin-bottom: 56px;
    max-width: 445px;
  }

  /* PRODUCTS */

  .products {
    margin-bottom: 201px;
    text-align: center;
  }

  .products__heading {
    transform: translateY(-40px);
    font-size: 150px;
  }

  .products__list {
    display: flex;
    padding: 0 85px;
  }

  .products__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }

  .product {
    flex-direction: column;
    width: 255px;
  }

  .product__photo {
    width: 235px;
    height: 178px;
    margin-right: 0;
    margin-bottom: 72px;
  }
}
