@import "modules.css";

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: var(--color-trout);
}

.site-content {
  padding: 158px 0;
}

.sign-in {
  margin-bottom: 36px;
  background-color: var(--color-white);
  box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.05);
  border-radius: 4px;
}

.intro {
  display: flex;
  background: rgba(85, 110, 230, 0.25);
}

.intro-text {
  margin-right: auto;
  padding-top: 24px;
  padding-left: 24px;
  color: var(--color-primary);
}

.intro-heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16.25px;
}

.intro-paragraph {
  margin: 0;
}

.form {
  padding: 24px 28px;
}

.form-fieldset {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  border: none;
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
}

.form-input-field {
  padding: 8px 12px;
  display: block;
  min-width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.form-input-field:focus {
  outline: none;
}

.form-input-field::placeholder {
  color: var(--color-trout);
}

.form-group-check {
  display: flex;
  align-items: center;
}

.form-group-check .form-label {
  margin-bottom: 0;
}

.form-input-checkbox {
  margin-right: 8px;
}

.form-submit {
  padding: 8px 12px;
  display: block;
  min-width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
}

.form-forgot-container {
  display: flex;
  justify-content: center;
}

.form-forgot {
  display: inline-flex;
  color: #74788d;
  text-decoration: none;
}

.form-forgot::before {
  content: '';
  margin-right: 4px;
  width: 19px;
  height: 19px;
  background-image: url('../img/icon-lock.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  text-align: center;
}
