@import "modules.css";

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Karla", "Arial", sans-serif;
}

.page-header-inner {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.logo img {
  display: block;
  margin-right: auto;
}

.main-nav {
  margin-right: 33px;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.main-nav-item {
  margin-right: 33px;
}

.main-nav-item:last-child {
  margin-right: 0;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  color: #837d88;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 1.5px;
  transition: color 0.5s ease;
}

.main-nav-link:hover {
  color: #2c2830;
}

.page-main {
  background-color: #fff;
  background-image: url(../img/bg-curves-right.png);
  background-repeat: no-repeat;
  background-position: top 414px left;
}

.hero {
  padding-top: 105px;
  background-image: url("../img/bg-curves.svg");
  background-color: #2d2641;
  background-repeat: no-repeat;
  background-position: top -96px right;
}

.hero-inner {
  display: flex;
}

.hero-text {
  margin-top: 63px;
  margin-right: 30px;
  width: 540px;
}

.hero-text::before {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: #fff;
}

.hero-text .heading-primary {
  margin-bottom: 16px;
  color: #fff;
}

.hero-text .paragraph {
  margin-bottom: 37px;
  color: #fff;
}

.hero-image img {
  display: block
}

.about {
  padding-top: 305px;
  padding-bottom: 150px;
}

.features {
  margin-bottom: 158px;
}

.features::before {
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: #c396c6;
}

.features .heading-primary {
  margin-top: 63px;
  margin-bottom: 96px;
}

.features-list {
  padding: 0;
  display: flex;
  list-style: none;
}

.features-item {
  margin-right: 30px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item::before {
  content: "";
  display: block;
  width: 86px;
  height: 86px;
  background-image: url("../img/icons/coin.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.features-item .heading-secondary {
  margin-bottom: 16px;
}

.about-footer {
  padding: 69px 80px;
  display: flex;
  align-items: center;
  background-color: #2d2641;
  background-image: url("../img/bg-curves.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.about-footer .heading-primary {
  margin: 0;
  margin-right: auto;
  width: 475px;
  color: #fff;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 0-78px;
}

.page-footer {
  padding: 64px 0;
  background-color: #fafafa;
  background-image: url("../img/bg-curves-left.png");
  background-repeat: no-repeat;
}

.social {
  margin-bottom: 33px;
  display: flex;
  align-items: center;
}

.social-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.social-item {
  margin-right: 16px;
}

.social-link {
  display: block;
}

.social-link img {
  display: block;
}

.footer-nav::before {
  content: "";
  margin-bottom: 48px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dadada;
}

.footer-nav-group {
  display: flex;
}

.footer-nav-row {
  margin-right: 30px;
  width: 255px;
}

.footer-nav-row:last-child {
  margin-right: 0;
}

.footer-nav-heading {
  margin: 0;
  margin-bottom: 36px;
  color: #837d88;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 1.5px;
}

.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-item {
  margin-bottom: 16px;
}

.footer-nav-link {
  color: #2d2641;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 1.5px;
}

.footer-nav-link:hover {
  text-decoration: underline;
}
