@import "modules.css";

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: sans-serif;
  background-color: var(--bg-primary);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text-primary);
}

/* site_header */

.site-header {
  padding: 30px 0;
  margin-bottom: 50px;
}

.site-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: auto;
}

.logo-img {
  display: block;
}

.sitenav {
  margin-right: 40px;
}

.sitenav-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.sitenav-item + .sitenav-item {
  margin-left: 30px;
}

.sitenav-link {
  padding-bottom: 6px;
  text-decoration: none;
  color: var(--color-text-primary);
  line-height: 22.5px;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
}

.sitenav-link--active,
.sitenav-link:hover {
  border-color: var(--color-text-primary);
}

.site-search {
  padding: 0;
  padding-bottom: 6px;
  border: none;
  border-bottom: 1px solid var(--color-text-primary);
  line-height: 22.5px;
  outline: none;
}

.site-search::-webkit-input-placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.site-search::-moz-placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.site-search:-ms-input-placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.site-search::-ms-input-placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

.site-search::placeholder {
  color: var(--color-text-placeholder);
  opacity: 1;
}

/* intro */

.intro {
  padding-top: 90px;
  padding-bottom: 185px;
  background-image: url("../img/intro-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  border-bottom: 2px solid #ddd;
}

/* features */

.features {
  padding: 70px 0;
}

.features-list {
  margin: 0;
  margin-right: -80px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.feature {
  margin-right: 80px;
  width: 280px;
}

.feature-heading {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  text-transform: uppercase;
  color: var(--color-text-feauture-heading);
}

.feature-text {
  margin-bottom: 20px;
}

.feature-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-divider--dot::before,
.feature-divider--dot::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #ddd;
}

.feature-dot {
  margin: 0 10px;
  width: 8px;
  height: 8px;
  background: #ddd;
}

.feature-divider--btn {
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.feature-btn:hover {
  --color-btn: #c9514c;
}

.feature-divider--btn::before {
  content: "";
  margin-right: 10px;
  width: 40px;
  height: 3px;
  background-color: var(--color-btn);
}

.feature-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-btn);
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/* info */

.info {
  padding: 70px 0;
}
.info-inner {
  padding: 105px 0;
  background-image: url("../img/watch-in-hand.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.info-heading {
  max-width: 380px;
}

.info-btn {
  padding: 12px 90px;
}

/* explore */

.explore {
  padding-top: 240px;
  padding-bottom: 470px;
  background-image: url("../img/runners.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.explore-text {
  float: right;
  --color-text-heading: #fff;
  --color-text-paragraph: #fff;
}

.explore-paragraph {
  border-color: #fff;
}

.explore-btn {
  padding: 12px 45px;
}