body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    red,
    #f06d06,
    rgb(255, 255, 0),
    green
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 200px;
  height: 200px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: radial-gradient(circle at bottom right, yellow 50px, rgb(228, 147, 25) 30px, skyblue, green);
}
