@import "modules.css";

.list {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  column-gap: 10%;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  list-style: none;
}

.list__item {
  width: 250px;
  height: 250px;
  background-color: #000;
}

@media only screen and (max-width: 900px) {
  .list {
    column-gap: 75px;
  }

  .list__item {
    background-color: orange;
  }
}

@media only screen and (max-width: 700px) {
  .list {
    column-gap: 100px;
  }

  .list__item {
    width: 300px;
    background-color: green;
  }
}